[submodule "lib/passport.socketio"]
	path = lib/passport.socketio
	url = git@github.com:TeamSynergy/passport.socketio.git
[submodule "lib/connect-form"]
	path = lib/connect-form
	url = git@github.com:TeamSynergy/connect-form.git
