[submodule "lib/passport.socketio"]
	path = lib/passport.socketio
	url = git@github.com:TeamSynergy/passport.socketio.git
[submodule "lib/connect-form"]
	path = lib/connect-form
	url = git@github.com:TeamSynergy/connect-form.git
[submodule "public/assets/js/xmbd"]
	path = public/assets/js/xmbd
	url = git@github.com:screeny05/xmbd.git
[submodule "ui-sortable"]
	path = ui-sortable
	url = git@github.com:angular-ui/ui-sortable.git
	branch = angular1.2
[submodule "public/assets/js/ui-sortable"]
	path = public/assets/js/ui-sortable
	url = git@github.com:angular-ui/ui-sortable.git
	branch = angular1.2
