@media (max-width: 991px){
  div#chat-user-row{
    margin: 0 15px;
    border: none;
  }
  div#controls a{
    width: auto;
  }
  #chat-user-row > div > ul{
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
  }
  input#chatInput{
    margin-left: 0;
    border-bottom-width: 1px;
  }
}

#player{
  width: 100%;
  height: 381px;
  background: #252525;
  color: #fff;
  text-align: center;
}
#player .error{
  line-height: 380px;
  font-size: 4em;
}

#chat-user-row{
  background: #fafafa;
  border: 1px solid #dadada;
  border-bottom: 0;
  padding: 0;
}
#chat-user-row > div{
  padding: 0;
  height: 380px;
}
#chat-user-row.hideChat > div > ul{
  height: 380px !important;
}
#chat-user-row > div > ul{
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin: 0;
}

#chat{
  border-right: 1px solid #ebebeb;
  padding: 6px 5px;
  height: 346px !important;
}
#chatInput{
  margin-left: -1px;
  border-bottom-width: 0;
}

#chat > li{
  margin-bottom: 11px;
}

#chat > li > img{
  width: 12%;
  max-width: 54px;
  vertical-align: top;
}
#chat p{
  margin: 0;
  -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
#chat time{
  margin: 0;
  font-style: italic;
}

.bubble{
  position: relative;
  padding: 5px 5px;
  margin: 2px 0 0 2%;
  background: #fff;
  border: #ccc solid 1px;
  display: inline-block;
  width: 84%;
}

.bubble:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 8px 7px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -8px;
  top: 8px;
}

.bubble:before{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 8px 7px 0;
  border-color: transparent #ccc;
  display: block;
  width: 0;
  z-index: 0;
  left: -9px;
  top: 8px;
}

#online > li{
  padding: 3px 4px 3px 10px;
  border-bottom: 1px solid #F1EDEE;
}
#online > li:nth-child(2n){
  background: #f7f7f7;
}
#online > li:last-child{
  /**
  * border-bottom: none;
  * I actualy like it more with
  **/
}

#online img{
  width: 20%;
  max-width: 90px;
}

#online p{
  display: inline-block;
  color: #5c5c5c;
  font-weight: bold;
}

#controls{
  width: 100%;
  text-align: center;
  font-size: 2.2em;
  padding: 0 2px;
  background: #F0F0F0;
  border: 1px solid #D6D6D6;
}

#controls a{
  padding: 8px;
  width: 1.8em;
  color: #474747;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  -webkit-transition: all 150ms ease;
     -moz-transition: all 150ms ease;
      -ms-transition: all 150ms ease;
       -o-transition: all 150ms ease;
          transition: all 150ms ease;
}

#controls a:hover{
  background: #E0E0E0;
  border-radius: 4px;
}

#input-add,
#input-search{
  padding: 6px;
  background: #F0F0F0;
  border: 1px solid #D6D6D6;
  border-top: none;
}

.info{
  margin-top: 5px;
}
.info.warning{
  background: #FCF8E3;
  color: #8A6D3B;
  border: 1px solid #FAEBCC;
}
.info.success{
  background: #D9EDF7;
  color: #31708F;
  border: 1px solid #BCE8F1;
}
.info.warning .duration{
  border-left: 1px solid #FAEBCC;
}
.info.success .duration{
  border-left: 1px solid #BCE8F1;
}
.info > span,
.info > i{
  padding: 6px 12px;
  display: inline-block;
}
.info .duration{
  float: right;
}
.info .name{
  font-weight: bold;
  color: #555;
}
.info .warning{
  border-right: 1px solid #FAEBCC;
  font-weight: bold;
}
.info .success{
  border-right: 1px solid #BCE8F1;
}

.animate-show-right,
.animate-show-top{
  -webkit-transition: all 230ms ease-in;
     -moz-transition: all 230ms ease-in;
      -ms-transition: all 230ms ease-in;
       -o-transition: all 230ms ease-in;
          transition: all 230ms ease-in;
}

.animate-show-top{
  overflow-y: hidden;
  max-height: 500px;
}
.animate-show-right{
  overflow-x: hidden;
  max-width: 500px;
}


.animate-show-right.ng-hide-add,
.animate-show-right.ng-hide-remove{
  display:table-cell!important;
}

.animate-show-top.ng-hide-add,
.animate-show-top.ng-hide-remove{
  display:block!important;
}
.animate-show-top.ng-hide{
  max-height: 0;
  line-height: 0;
}

.animate-show-right.ng-hide{
  max-width: 0;
}

table tr:first-child td{
  border-top: none;
}
table{
  border: 1px solid #DBDBDB;
  border-top: none;
}
table .active{
  font-weight: 700;
  background: #eee;
}
table .selectable{
  cursor: pointer;
}
table .remove{
  border-left: 1px solid #DDD;
  background: #FDE4E4!important;
  border-color: #ECC1C1!important;
  text-align: center;
  font-size: 1.5em;
  line-height: 1em!important;
}
::-moz-selection { background: #fef198; color: #000; text-shadow: none; }
::selection { background: #fef198; color: #000; text-shadow: none; }
